* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(37, 37, 37);
  padding: 10px 0px 10px 0px;
}

h1 {
  background-color: cadetblue;
  color: rgb(37, 37, 37);
  padding: 0px 10px 0px 100px;
}

h2 {
  font-size: 50px;
  border-right: 3px solid black;
  padding: 0px 10px 0 100px;
  width: 300px;
}

ul {
  margin-right: 50px;
}

li {
  list-style: none;
  text-decoration: underline;
  display: inline;
  padding-right: 10px;
  font-weight: bold;
  color: cadetblue;
  font-size: 20px;
}

.hero-banner {
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-end;
  background-image: url(../images/02-hero-bg.jpg);
  height: 400px;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  height: 800px;
  justify-content: space-around;
}

.page-section {
  display: flex;
}

#subtitle {
  font-size: 25px;
  background-color: cadetblue;
  color: rgb(37, 37, 37);
  margin: 30px 50px 30px 30px;
  border-style: none;
  padding: 0;
  width: auto;
}

#about > p {
  display: flex;
  font-size: 15px;
  justify-content: center;
  align-items:flex-start;
  padding: 0px 10px 0 30px;
}

.contact {
  align-items: center;
}