:root {
  --cadetblue: cadetblue;
  --darkgrey: rgb(37, 37, 37);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: var(--darkgrey);
  padding: 10px 0px 10px 0px;
}

h1 {
  background-color: var(--cadetblue);
  color: rgb(37, 37, 37);
  padding: 0px 10px 0px 100px;
}

h2 {
  font-size: 50px;
  border-right: 3px solid black;
  padding: 0px 10px 0 100px;
  width: 300px;
  color: var(--darkgrey);
}

h2 p {
  color: var(--darkgrey);
}

ul {
  margin-right: 50px;
}

li {
  list-style: none;
  text-decoration: underline;
  display: inline;
  padding-right: 60px;
  font-weight: bold;
  color: cadetblue;
  font-size: 20px;
}

img {
  height: 50%;
  width: 100px;
}

a:visited {
  text-decoration: none;
  color: var(--cadetblue);
}

.hero-banner {
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-end;
  background-image: url(../images/02-hero-bg.jpg);
  background-size: cover;
  height: 400px;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  height: 1200px;
  justify-content: space-around;
}

.page-section {
  display: flex;
}

#subtitle {
  font-size: 25px;
  background-color: var(--cadetblue);
  color: var(--darkgrey);
  margin: 30px 50px 30px 30px;
  border-style: none;
  padding: 0;
  width: auto;
}

#about > p {
  display: flex;
  font-size: 15px;
  justify-content: center;
  align-items:flex-start;
  padding: 0px 10px 0 30px;
}


#workGrid {
  margin: -200px 0 5% 25%;
  display: grid;
  height: 500px;
  width: 800px;
  grid-template-rows: 200px 200px 200px;
  grid-template-columns: 450px 450px;
  grid-template-areas:
  "surfreport surfreport"
  "ledwall calculator"
  "pastelpuzzels runbuddy"
  ;
}

#surf {
  grid-area: surfreport;
  background-image: url("../images/02-portfolio-4.jpg");

}
#ledWall {
  grid-area: ledwall;
  background-image: url("../images/02-portfolio-1.jpg");
}

#calculator {
  grid-area: calculator;
  background-image: url("../images/02-portfolio-2.jpg");
}

#pastelPuzzels {
  grid-area: pastelpuzzels;
  background-image: url("../images/02-portfolio-3.jpg");
}

#runBuddy {
  grid-area: runbuddy;
  background-image: url("../images/02-run-buddy.jpg");
}

.workGridArea {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 5px;
  cursor: pointer;
  display: grid;
  align-content: end;
}

.contact > ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 0 0 200px;
}

.heading, span {
  background-color: rgba(0,0,0,0.7);
  padding: 1px;
  height: 25px;
  color: white;
  font-size: 15px;
}